<div class="container">
</div>


<script id="quiz-list-template" type="text/template">
<div class="quiz-list">
<h1>Choose a Quiz</h1>
<ul>
</ul>
</div>
</script>

<script id="quiz-template" type="text/template">
<li><a href="#"></a></li>
</script>


<script id="question-template" type="text/template">
<div class="question">
<h1>QUESTION TITLE GOES HERE</h1>
<ul>
</ul>
</div>
</script>


<script id="choice-template" type="text/template">
<li><a href="#"></a></li>
</script>
